.input {
  position: relative;
  &__label {
    position: absolute;
    left: 42px;
    top: 16px;
  }

  &__control {
    padding: 16px 42px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.17;
    border: 1px var(--color-secondary-dark) solid;
    background-color: transparent;

    &:focus {
      border-color: var(--color-brend-normal);
      outline: none;
    }

    &:placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      line-height: 1.17;
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}
